@import 'tailwindcss';

:root {
  --background: #141414;
  --bg-secondary: #1f1f1f;

  /* TEXT */
  --text-primary: #f9f9f9; /* Білий текст заголовків */
  --text-secondary: rgba(249, 249, 249, 0.5);
  /* Сірий текст (placeholder, підписи) */

  /* INPUTS */
  --input-bg: rgba(255, 255, 255, 0.05);
  --input-border: rgba(249, 249, 249, 0.1);

  /* ACCENTS */
  --accent-blue: #4f92f7; /* Блакитний з UI KIT */
  --accent-green: #30b94d; /* Зелений (успіх/прогрес) */
  --error-red: #e74a3b; /* Червоний (помилки в інпутах) */

  --font-family: 'Montserrat', sans-serif;
  /* --font-family: var(--font-montserrat), sans-serif; */
  /* header */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text-primary);
  --color-secondary-bg: var(--bg-secondary);
  --font-sans: var(--font-family);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-family);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  /* sm */
  .container {
    max-width: 640px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  /* md */
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  /* xl */
  .container {
    max-width: 1280px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1440px) {
  /* xxl */
  .container {
    max-width: 1440px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
