@import 'tailwindcss';

:root {
  --background: #141414;
  --bg-secondary: #1f1f1f;

  /* TEXT */
  --text-primary: #f9f9f9; /* Білий текст заголовків */
  --text-secondary: rgba(249, 249, 249, 0.5);
  /* Сірий текст (placeholder, підписи) */

  /* INPUTS */
  --input-bg: rgba(255, 255, 255, 0.05);
  --input-border: rgba(249, 249, 249, 0.1);

  /* ACCENTS */
  --accent-blue: #4f92f7; /* Блакитний з UI KIT */
  --accent-green: #30b94d; /* Зелений (успіх/прогрес) */
  --error-red: #e74a3b; /* Червоний (помилки в інпутах) */

  --font-family: 'Montserrat', sans-serif;

  --card-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  --card-shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.12);
  --card-transition: transform 0.25s ease, box-shadow 0.25s ease;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text-primary);
  --color-secondary-bg: var(--bg-secondary);
  --font-sans: var(--font-family);
  --color-accent: var(--accent-blue);
  --shadow-card: var(--card-shadow);
  --shadow-card-hover: var(--card-shadow-hover);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-family);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0 auto;
}

/* button {
  cursor: pointer;
} */
button:not(:disabled) {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 640px) {
  /* sm */
  .container {
    max-width: 640px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  /* md */
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1440px) {
  /* xxl */
  .container {
    max-width: 1504px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
