@import 'tailwindcss';

:root {
  --background: #141414;
  --bg-secondary: #1f1f1f;
  --bg-blok: #262626;

  /* TEXT */
  --text-primary: #f9f9f9; /* Білий текст заголовків */
  --text-secondary: rgba(249, 249, 249, 0.5);
  /* Сірий текст (placeholder, підписи) */

  /* INPUTS */
  --input-bg: rgba(255, 255, 255, 0.05);
  --input-border: rgba(249, 249, 249, 0.1);

  /* ACCENTS */
  --accent-blue: #4f92f7;
  --accent-green: #30b94d; /* Зелений (успіх/прогрес) */
  --error-red: #e74a3b;

  --font-family: 'Montserrat', sans-serif;

  --card-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  --card-shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.12);
  --card-transition: transform 0.25s ease, box-shadow 0.25s ease;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text-primary);
  --color-secondary-bg: var(--bg-secondary);
  --font-sans: var(--font-family);
  --color-accent: var(--accent-blue);
  --shadow-card: var(--card-shadow);
  --shadow-card-hover: var(--card-shadow-hover);
  /* ////////// */
  --breakpoint-xs: 375px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1040px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  /* //////////////////// */
}

@keyframes loader-pulse {
  0%,
  100% {
    transform: scale(1) translate(var(--tw-translate-dist, 45px));
    opacity: 0.2;
  }
  50% {
    transform: scale(1.4) translate(var(--tw-translate-dist, 45px));
    opacity: 1;
  }
}
.animate-loader-pulse {
  animation: loader-pulse 1.2s ease-in-out infinite;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-family);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0 auto;
}

button:not(:disabled) {
  cursor: pointer;
}

@utility container {
  margin-inline: auto;
  width: 100%;
  padding-inline: 1.25rem;

  @media (width >= theme(--breakpoint-sm)) {
    max-width: 640px;
    padding-inline: 1.25rem;
  }

  @media (width >= theme(--breakpoint-md)) {
    /* max-width: 768px; */
    max-width: 100%;
    padding-inline: 2rem;
  }
  @media (width >= theme(--breakpoint-lg)) {
    max-width: 100%;
    /* max-width: 1040px; */
  }
  @media (width >= theme(--breakpoint-xl)) {
    /* max-width: 1280px; */
    max-width: 100%;
  }

  @media (width >= theme(--breakpoint-2xl)) {
    max-width: 1440px;
  }
}

/* .container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1040px) {
  .container {
    max-width: 1040px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
} */

/* /////////////////////////////////////////////////////////////////////// */

/* @media (min-width: 1024px) {
  .container {
    max-width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1370px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
 */
